---
import { getAllArticles, type Article } from "../../apis/articles";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

const articles = await getAllArticles();
---

<Layout>
  <ul>
    {
      articles.contents.map((article: Article) => (
        <li>
          <div class="article-card">
            <a class="article-link" href={`/articles/${article.id}`}>
              {article.title}
            </a>
            <Image
              src={
                article.thumbnail?.url ?? "https://picsum.photos/id/1/200/300"
              }
              width={100}
              height={100}
              alt="thumbnail of article"
            />
          </div>
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  /* TODO: Add styles for article list */
  .article-link {
    color: green;
    font-size: 2rem;
  }
</style>
