---
import { getAllArticles } from "../../apis/articles";
import SideBanners from "../../components/SideBanners.astro";
import MainSideLayout from "../../layouts/MainSideLayout.astro";

const articles = await getAllArticles();
---

<MainSideLayout title="NEWS">
  <Fragment slot="main">
    <h1>記事一覧</h1>
    <ul>
      {
        articles.contents.map((article) => (
          <li>
            <a class="article-link" href={`/articles/${article.id}`}>
              {article.title}
            </a>
          </li>
        ))
      }
    </ul>
  </Fragment>
  <Fragment slot="aside">
    <SideBanners />
  </Fragment>
</MainSideLayout>

<style>
  /* TODO: Add styles for article list */
  .article-link {
    color: green;
    font-size: 2rem;
  }
</style>
