---
import { getAllArticles } from "../../apis/articles";
import Layout from "../../layouts/Layout.astro";

const articles = await getAllArticles();
---

<Layout>
  <ul>
    {articles.contents.map((article) => (
      <li>
        <a class="article-link" href={`/articles/${article.id}`}>{article.title}</a>
      </li>
    ))}
  </ul>
</Layout>

<style>
/* TODO: Add styles for article list */
.article-link {
  color: green;
  font-size: 2rem;
}
</style>
