---
import { getAllArticles } from "../../apis/articles";
import Layout from "../../layouts/Layout.astro";
import CafeoreLogo from "../../assets/logo.svg";
import HamburgerMenu from "../../assets/hamburger_menu.svg";

const articles = await getAllArticles();
---

<Layout>
  <ul>
    {
      articles.contents.map((article) => (
        <li>
          <a class="article-link" href={`/articles/${article.id}`}>
            {article.title}
          </a>
        </li>
      ))
    }
  </ul>
  <CafeoreLogo />
  <HamburgerMenu />
</Layout>

<style>
  /* TODO: Add styles for article list */
  .article-link {
    color: green;
    font-size: 2rem;
  }

  svg {
    color: #006367;
  }
</style>
