---
import StaticLayout from "../layouts/StaticLayout.astro";

interface Props {
  error: unknown;
}

const { error } = Astro.props;
---

<StaticLayout title="500 Internal Server Error" noIndex={true}>
  <h1>500 Internal Server Error</h1>
  <div>{error instanceof Error ? error.message : "Unknown error"}</div>
</StaticLayout>
