---
import SideBanners from "../components/SideBanners.astro";
import MainSideLayout from "../layouts/MainSideLayout.astro";
---

<MainSideLayout title="ABOUT">
  <Fragment slot="main">
    <h1>ABOUT</h1>
    <p>Work in progress...</p>
  </Fragment>
  <Fragment slot="aside">
    <SideBanners />
  </Fragment>
</MainSideLayout>
