---
import { getAllArticles } from "../apis/articles";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import ArticleCard from "../components/ArticleCard.astro";
import { getCMSSecrets } from "../consts";

const secrets = getCMSSecrets();
const res = await getAllArticles(secrets);
const articles = res.contents;
---

<Layout>
  <Header />
  <main>
    <Hero />
    <section class="news-section">
      <h2 class="section-title">NEWS</h2>
      <ul class="news-list">
        {
          articles.map((article) => (
            <li class="news-item">
              <ArticleCard article={article} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  .news-section {
    padding-inline: 1rem;
  }

  .section-title {
    padding-inline: 1rem;
    margin-block: 1.5rem;
    font-size: 1.5rem;
    color: var(--cafeore-brown);
  }

  .news-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .news-item {
    width: 100%;
    max-width: 400px;
  }

  @media (width <= 620px) {
    .news-list {
      grid-template-columns: 1fr;
      padding-inline: 1rem;
    }
  }
</style>
