---
export const prerender = false;
---

<meta http-equiv="refresh" content={`0;url=/news/preview${Astro.url.search}`} />
<p>
  Redirecting to <a href={`/news/preview${Astro.url.search}`}>/news/preview</a
  >...
</p>
