---
import { Image } from "astro:assets";
import type { Article } from "../apis/articles";
import { formatDate } from "../utils/date";
import { getWidthHeight } from "../utils/image-sizing";

export interface Props {
  article: Article;
}
const { article } = Astro.props;
const { id, title, thumbnail, publishedAt } = article;
const publishedDate = new Date(publishedAt);
---

<a class="card-link" href={`/articles/${id}`}>
  <article>
    <div class="thumbnail-container">
      <Image
        class="thumbnail"
        src={thumbnail.url}
        alt=""
        format="webp"
        quality="low"
        {...getWidthHeight({
          src: thumbnail,
          maxWidth: 600,
        })}
      />
    </div>
    <div class="content">
      <p class="published-date">{formatDate(publishedDate)}</p>
      <h3 class="title">{title}</h3>
    </div>
  </article>
</a>

<style>
  .card-link {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: inherit;
  }
  .thumbnail-container {
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 8px;
  }
  .thumbnail {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  .card-link:hover .thumbnail {
    transform: scale(1.07);
  }
  .published-date {
    color: var(--gray);
    font-size: 0.9rem;
    margin-inline: 0;
    margin-block: 0.4rem;
  }
  .title {
    font-size: 1.1rem;
    margin-block: 0;
    color: var(--cafeore-brown);
  }
  .card-link:hover .title {
    color: var(--orange);
  }
</style>
