---
import type { Article } from "../apis/articles";
import { formatDate } from "../utils/date";
import { getWidthHeight } from "../utils/image-sizing";
import MicroCMSImage from "./MicroCMSImage.astro";

export interface Props {
  article: Article;
}
const { article } = Astro.props;
const { id, title, thumbnail, publishedAt } = article;
const publishedDate = new Date(publishedAt);
---

<a class="card-link" href={`/articles/${id}/`}>
  <article>
    <div class="thumbnail-container">
      <MicroCMSImage
        class="thumbnail"
        src={thumbnail}
        quality="low"
        maxWidth={600}
        alt=""
      />
    </div>
    <div class="content">
      <p class="published-date">{formatDate(publishedDate)}</p>
      <h3 class="title">{title}</h3>
    </div>
  </article>
</a>

<style>
  .card-link {
    display: inline-block;
    width: 100%;
    color: inherit;
    text-decoration: none;
  }

  .thumbnail-container {
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 8px;
  }

  .thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .card-link:hover .thumbnail {
    transform: scale(1.07);
  }

  .published-date {
    margin-block: 0.4rem;
    margin-inline: 0;
    font-size: 0.9rem;
    color: var(--gray);
  }

  .title {
    margin-block: 0;
    font-size: 1.1rem;
    color: var(--cafeore-brown);
  }

  .card-link:hover .title {
    color: var(--orange);
  }
</style>
