---
import InstagramIcon from "../assets/icon-instagram.svg";
import XIcon from "../assets/icon-x.svg";
import { INSTAGRAM_URL, X_URL } from "../consts.ts";
---

<footer class="footer">
  <div class="sns-icons-container">
    <a class="sns-icon" href={INSTAGRAM_URL} target="_blank">
      <InstagramIcon role="img" aria-label="Instagram" fill="var(--gray)" />
    </a>
    <a class="sns-icon" href={X_URL} target="_blank">
      <XIcon role="img" aria-label="X" fill="var(--gray)" />
    </a>
  </div>
  <span class="copyright"> &copy; 2026 珈琲・俺 All rights reserved. </span>
</footer>

<style>
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 60px;
    margin-block: 60px 20px;
    color: var(--gray);
    text-align: center;
  }

  .sns-icons-container {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-block-end: 24px;
  }

  .sns-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
  }

  .sns-icon:hover {
    transform: scale(1.1);
  }

  .copyright {
    margin-block-end: 20px;
    font-size: 0.9rem;
  }
</style>
