<footer class="footer">
  <span class="copyright"> &copy; 2025 珈琲・俺 All rights reserved. </span>
</footer>

<style>
  .footer {
    height: 60px;
    background-color: var(--cafeore-brown);
    color: white;
    text-align: center;
    margin-block-start: 60px;
  }
  .copyright {
    line-height: 60px;
    font-size: 0.9rem;
  }
</style>
