<footer class="footer">
  <span class="copyright"> &copy; 2025 珈琲・俺 All rights reserved. </span>
</footer>

<style>
  .footer {
    height: 200px;
    background: linear-gradient(0deg, oklch(23.4% 0.15 272.94), var(--ivory));
    color: white;
    text-align: center;
    margin-block-start: 60px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }
  .copyright {
    font-size: 0.9rem;
    margin-block-end: 20px;
  }
</style>
