---
import Logo from "../assets/logo_name_cafeore.svg";
---

<header class="header">
  <a class="top-link" href="/">
    <Logo
      class="logo"
      fill="var(--cafeore-brown)"
      role="img"
      aria-label="珈琲・俺（かふぇおれ）"
    />
  </a>
  <button id="mobile-button" class="button" type="button">
    <Logo
      class="logo"
      fill="var(--cafeore-brown)"
      role="img"
      aria-label="珈琲・俺（かふぇおれ）"
    />
  </button>
  <nav id="nav" class="navigation">
    <ul class="link-list">
      <li class="link-item">
        <a class="link" href="/"> TOP </a>
      </li>
      <li class="link-item">
        <a class="link" href="/about"> ABOUT </a>
      </li>
      <li class="link-item">
        <a class="link" href="/articles"> NEWS </a>
      </li>
    </ul>
  </nav>
</header>

<script>
  const button = document.getElementById("mobile-button");
  const navigation = document.getElementById("nav");

  button?.addEventListener("click", () => {
    navigation?.classList.toggle("open");
  });
</script>

<style>
  .logo {
    width: auto;
    height: 100%;
  }
  .header {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    position: sticky;
    top: 0;
    background-color: rgba(var(--ivory-rgb), 0.8);
    backdrop-filter: blur(30px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  .top-link {
    display: block;
    height: 100%;
    margin-inline-start: 16px;
  }
  .button {
    display: none;
  }
  .navigation {
    display: block;
    width: 100%;
    height: fit-content;
  }
  .link-list {
    padding-inline: 16px;
    margin-inline-start: auto;
    margin-block: 0;
    max-width: 320px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .link-item {
    display: inline-block;
    height: 100%;
    list-style: none;
  }
  .link {
    display: inline-block;
    padding-inline: 16px;
    height: 50px;
    width: fit-content;
    text-decoration: none;
    line-height: 50px;
    font-size: 1.1rem;
    font-family: "Helvetica Neue"; /* Needs review for variation of OS */
    color: black;
  }
  .link.top {
    display: none;
  }
  .link:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  @media (max-width: 620px) {
    .header {
      height: fit-content;
      flex-direction: column;
      padding: 4px;
    }
    .top-link {
      display: none;
    }
    .button {
      display: block;
      cursor: pointer;
      background-color: transparent;
      border: 0;
      margin-block: 8px;
      height: 50px;
    }
    .navigation {
      max-height: 0;
      transition-property: max-height;
      transition-duration: 0.3s;
      overflow: hidden;
    }
    .navigation.open {
      max-height: 50px;
    }
    .link-list {
      padding: 0;
      margin-block: 8px;
      margin-inline: auto;
    }
    .link {
      line-height: inherit;
      height: fit-content;
      background-color: transparent;
      color: black;
      font-size: 1rem;
      padding-inline: 0.8rem;
      line-height: 1.5rem;
      border-radius: 1rem;
    }
    .link:hover {
      text-decoration: none;
    }
    .link:active {
      background-color: rgba(var(--gray-rgb), 0.2);
    }
    .link.top {
      display: inline-block;
    }
  }
</style>
