---
import { Image } from "astro:assets";
import globalIcon from "../assets/language.svg";
import logoIcon from "../assets/logo.svg";
---
<header class="header">
  <div class="header-left">
    <a href="/" class="logo">
      <Image src={logoIcon} alt="Website Logo" />
    </a>
  </div>
  
  <nav class="header-nav">
    <ul>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/news">NEWS</a></li>
      <li><a href="/links">LINKS</a></li>
    </ul>
  </nav>

  <div class="language-selector">
    <Image class="global-icon" src={globalIcon} alt="Global Icon" />
    <button class="lang-switch">JP</button>
    <p class="lang-switch-divider">/</p>
    <button class="lang-switch">EN</button>
  </div>
</header>
<script>
  let lastScrollTop = 0;
  const header = document.querySelector(".header");
  
  window.addEventListener("scroll", () => {
    let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    if (header) {
      if (scrollTop > lastScrollTop){
        // 下にスクロール
        header.classList.add('header--hidden');
      } else {
        // 上にスクロール
        header.classList.remove('header--hidden');
      }
      
      // ページの一番上にいるときは常に表示
      if (scrollTop === 0) {
        header.classList.remove('header--hidden');
      }
    }
    lastScrollTop = scrollTop;
  });

  // カーソルを合わせたときに表示
  document.addEventListener('mousemove', (e) => {
    if (header) {
      if (e.clientY < 50) { // 50pxはヘッダーの高さに合わせて調整
        header.classList.remove('header--hidden');
      }
    }
  });

</script>

<style>
  .header {
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  z-index: 1000;
  transition: transform 0.4s ease-out, opacity 0.3s ease-out;
  margin: 1rem;
  padding: 1rem 1rem;
  pointer-events: none;
 background-color: rgba(249, 248, 246, 0.8);
 border-radius: 20rem;
}

.header:hover {
   pointer-events: auto;
}

.header--hidden {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

  .header-left {
    display: flex;
    align-items: center;
    margin-right: auto;  /* ロゴを左端に配置 */
  }

  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .logo img {
    height: 4rem;
    padding-top: 0.5rem;
    margin: 0;
    display: block;
    width: auto;
  }

  .header-nav ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    margin: 0;
    padding: 0;
    color: #006367;
      font-size: 1.2rem;
    margin-right: 3rem;  /* 言語切り替えとの間隔 */
  }

  .header-nav a {
    text-decoration: none;
    font-weight: bold;
            color: #006367;

  }

  .language-selector {
    display: flex;
    align-items: center;
    color: #006367;
    margin-right: 2rem; 
    margin-left: 2rem;
    font-size: 1.2rem;  /* ナビゲーションとの間隔 */
  }

  .lang-switch {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding:0;
    font-weight: bold;
            color: #006367;

  }
  .global-icon{
            color: #006367;

  }
</style>