---
import { Image } from "astro:assets";
import { getTopImages } from "../apis/top-images";
import HeroMessage from "../assets/hero-message.svg";
import CafeoreName from "../assets/cafeore-name-only.svg";
import { getWidthHeight } from "../utils/image-sizing";

const topImages = await getTopImages();
---

<section class="hero">
  <div class="image-container">
    <Image
      class="hero-image"
      src={topImages.image.url}
      alt=""
      format="webp"
      quality="high"
      {...getWidthHeight({
        src: topImages.image,
        maxWidth: 1920,
      })}
    />
    <div class="image-filter"></div>
  </div>
  <div class="hero-message-container">
    <CafeoreName
      id="cafeore-name"
      fill="white"
      role="img"
      aria-label="珈琲・俺（かふぇおれ）"
    />
    <HeroMessage
      id="hero-message"
      role="img"
      aria-label="一口に伝統と誇りをこめて。"
    />
  </div>
</section>

<script>
  const heroMessage = document.getElementById("hero-message");
  window.addEventListener("load", () => {
    setTimeout(() => {
      heroMessage?.classList.add("active");
    }, 300);
  });
</script>

<style>
  .hero {
    position: relative;
    width: 100%;
    height: 70lvh;
    overflow: hidden;
  }

  @media (width <= 620px) {
    .hero {
      height: 40lvh;
    }
  }
</style>

<style>
  :root {
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
  }

  .hero-message-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #cafeore-name {
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
    width: auto;
    max-width: 80%;
    height: 40%;
    margin-inline: auto;
  }

  #hero-message {
    position: absolute;
    bottom: 10%;
    left: 5%;
    display: block;
    width: auto;
    max-width: 70%;
    height: 25%;
    opacity: 0;
    translate: 0 10%;
  }

  #hero-message.active {
    opacity: 1;
    translate: 0;
    transition-timing-function:
      opacity var(--ease-out-cubic),
      translate var(--ease-out-quint);
    transition-duration: 1s;
  }
</style>

<style>
  .image-container {
    width: 100%;
    height: 100%;
  }

  .hero-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(from var(--sepia) r g b / 30%);
    backdrop-filter: grayscale(30%) brightness(70%) blur(2px);
  }
</style>
