---
import { getAllArticles } from "../apis/articles";
import ArticleCard from "./ArticleCard.astro";

const articles = await getAllArticles();
---

<div class="container">
  <h1 class="news-title">NEWS</h1>
  <ul class="news-list">
    {
      articles.contents.map((article) => (
        <li class="news-item">
          <ArticleCard article={article} />
        </li>
      ))
    }
  </ul>
</div>

<style>
  .container {
    padding-inline: 1rem;
  }
  .news-title {
    color: var(--cafeore-brown);
    font-size: 1.8rem;
    margin-block: 2rem;
  }
  .news-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .news-item {
    width: 100%;
  }
  @media (max-width: 620px) {
    .news-list {
      grid-template-columns: 1fr;
      padding-inline: 1rem;
    }
  }
</style>
