---
import { getSideBanner } from "../apis/side-banner";
import { getCMSSecrets } from "../consts";
import Banner from "./Banner.astro";

const secrets = getCMSSecrets();
const sideBanner = await getSideBanner(secrets);
---

<div class="side-banners">
  {
    sideBanner.banners.map((banner) => (
      <div class="banner">
        <Banner banner={banner} />
      </div>
    ))
  }
</div>

<style>
  :root {
    --side-banner-gap: 30px;
    --side-banner-mrg: 1rem;
  }

  /* 1010px < width */
  .side-banners {
    position: sticky;
    top: 140px;
    display: flex;
    flex-direction: column;
    gap: var(--side-banner-gap);
  }

  .banner {
    width: 100%;
  }

  /* width <= 1010px */
  @media (width <= 1010px) {
    .side-banners {
      position: static;
      flex-flow: row wrap;
      margin-block: calc(var(--side-banner-mrg) * 5);
      margin-inline: var(--side-banner-mrg);
    }

    .banner {
      width: calc((100% - var(--side-banner-gap)) / 2);
    }
  }
</style>
