:root {
  --cafeore-brown: oklch(25.92% 0.0539 42.7deg);
  --cafeore-cream: oklch(69.06% 0.0847 80.31deg);
  --ivory: oklch(97.93% 0.0029 84.56deg);
  --gray: oklch(54.17% 0 0deg);
  --dark-gray: oklch(35.62% 0 0deg);
  --orange: oklch(70% 0.2085 38.84deg);
  --sepia: oklch(42.56% 0.0864 61.08deg);
}
