@import url("normalize.css") layer(reset);
@import url("color-tokens.css") layer(tokens);

html,
body {
  font-family: "Hiragino Kaku Gothic ProN", "Noto Sans JP", sans-serif;
  color: var(--cafeore-brown);
  background-color: var(--ivory);
}
