---
import Layout from "./Layout.astro";
import Header from "../components/Header.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <Header />
  <div class="container">
    <main class="main-container">
      <slot name="main" />
    </main>
    <aside class="aside-container">
      <slot name="aside" />
    </aside>
  </div>
</Layout>

<style>
  :root {
    --max-main-width: 620px;
    --aside-width: 300px;
    --main-aside-space: 30px;
  }
  /* 980px < width */
  .container {
    display: flex;
  }
  .main-container {
    width: var(--max-main-width);
    margin-inline: auto;
  }
  .aside-container {
    width: var(--aside-width);
    margin-block-start: var(--main-aside-space);
    margin-inline: var(--main-aside-space);
  }
  /* 620px < width <= 980px*/
  @media (max-width: 980px) {
    .container {
      display: block;
      width: var(--max-main-width);
      margin-inline: auto;
    }
    .main-container {
      width: 100%;
      margin: 0;
    }
    .aside-container {
      width: 100%;
      margin: 0;
    }
  }
  /* width <= 620px */
  @media (max-width: 620px) {
    .container {
      width: 100%;
    }
  }
</style>
