---
import MainSideLayout from "./MainSideLayout.astro";
export interface Props {
  title: string;
  ogImageUrl?: string;
}
const { title, ogImageUrl } = Astro.props;
---

<MainSideLayout title={title} ogImageUrl={ogImageUrl}>
  <Fragment slot="main">
    <div class="static-container">
      <slot name="main" />
    </div>
  </Fragment>
  <Fragment slot="aside">
    <slot name="aside" />
  </Fragment>
</MainSideLayout>

<style>
  .static-container {
    width: var(--max-main-width);
    margin-inline: auto;
  }

  @media (width <= 620px) {
    .static-container {
      width: 100%;
    }
  }
</style>
